body{
    background-color: #faf4eb;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 3em;
    color: #1F305E;
    border-style: solid;
    border-color: #1F305E;
    border-width: thick;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.75em;
    color: #8A4041;

}

h3 {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.25em;
    margin: 2em;
    color: #7a6653;
}

h4{
    font-family: sans-serif;
}

h5{
    font-family: sans-serif;
    margin-left: 2.5em;
}

ul{
    list-style: none;
    color: #282e2c;
}

li{
    margin: 2em, 1em;
}

p {
    margin-left: 2em;
    font-family: serif;
    font-style: italic;
}
